#Game Settings written by com.jme.app.BaseGame$BaseGameSettings at Tue Jun 30 00:09:36 GMT-03:00 2009
#Tue Jun 30 00:09:36 GMT-03:00 2009
FREQ=-1
WIDTH=640
RENDERER=LWJGL
HEIGHT=480
DEPTH=24
FULLSCREEN=false
